.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 5px;
  border-radius: 4px;
  min-width: 500px;
}

.wd-modules>li {
  background-color: lightgray;
  border: 1px solid gray !important;
  border-radius: 4px;
}

.wd-modules>li>div {
  padding: 6px;
  border-left: 2px solid gray !important;
  margin: 8px;
  font-weight: bold;
}

.wd-modules>li>ul {
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  border-radius: 4px;

}

.wd-modules>li>ul>li {
  padding: 5px;
  border-top: 1px solid gray !important;
  border-bottom: 1px solid gray !important;
  border-right: 1px solid gray !important;
  border-left: 2px solid green;
  font-weight: normal;
}

.wd-modules>li {
  margin-bottom: 20px;
}

.wd-align-right {
  margin-left: auto;
}

.wd-course-buttons {
  justify-content: flex-end;
  margin-right: 8px;
}

.wd-course-button,
.wd-course-button-red {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 8px;
  border-radius: 3px;
  height: 30px;
  border-style: none;
  margin-right: 4px;
}

.wd-course-button {
  background-color: rgb(233, 233, 233);
}

.wd-course-button-red {
  background-color: red;
  color: white;
}

.wd-course-button-red i {
  background-color: red;
  color: white;
  font-size: small;
}

.wd-module-description {
  font-size: small;
  color: gray;
}

.wd-course-select {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 8px;
  border-radius: 3px;
  height: 30px;
  background-color: rgb(233, 233, 233);
  border-style: none;
  margin-right: 4px;
}

* .wd-collpased-navbar {
  height: 75px;
  background-color: black;
  color: white;
  padding: 16px;
  text-align: center;
}

.wd-collpased-navbar>span {
  display: flex;
  justify-content: space-between;
}

.wd-collpased-navbar>span a {
  padding-top: 16px;
  font-size: larger;
  font-weight: lighter;
  color: white;
  text-decoration: none;
}

.wd-collapsed-course-nav {
  background-color: white;
  box-shadow: 0px 5px 5px gray;
  margin-bottom: 20px;
  padding-top: 8px;
}

.wd-collapsed-course-nav>ul {
  list-style-type: none;
  padding-left: 8px;
}

.wd-collapsed-course-nav li {
  margin-bottom: 4px;
}

.wd-collapsed-course-nav>ul>li a {
  text-decoration: none;
  color: red;
}

.wd-collapsed-course-nav>ul>li a:hover {
  text-decoration: underline;
}

.wd-collapsed-kanbas-nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.wd-collapsed-kanbas-nav>div {
  background-color: white;
  height: 100vh;
  padding: 24px;
}

.wd-collapsed-kanbas-nav>div>span {
  display: flex;
  justify-content: space-between;
}

.wd-collapsed-kanbas-nav>div>span>a {
  color: red;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  font-size: x-large;
}

.wd-collapsed-kanbas-nav>div>span>a>i {
  color: gray;
}

.wd-collapsed-kanbas-nav>div>ul {
  list-style-type: none;
}

.wd-collapsed-kanbas-nav>div>ul>li {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  ;
}

.wd-collapsed-kanbas-nav>div>ul>li a {
  text-decoration: none;
  color: red;
  font-size: large;
}

.wd-collapsed-kanbas-nav>div>ul>li a:hover {
  text-decoration: underline;
}

.wd-collapsed-kanbas-nav>div>ul>li a>i {
  font-size: xx-large;
  margin-right: 16px;
  width: 30px;
}

.wd-collapsed-kanbas-nav .right-caret {
  color: gray;
}

.wd-course-title-modules {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.wd-icon-bars {
  margin-right: 4px;
}

.wd-icon-bars a {
  color: red;
  font-size: large;
  text-decoration: none;
}

.wd-icon-bars a:hover {
  text-decoration: underline;
}

.wd-icon-bars i {
  margin-right: 12px;
}

.wd-icon-caret {
  color: black;
  font-size: large;
}

.wd-icon-caret i {
  color: gray;
}

.wd-title-hr {
  margin: 10px;
  border-top: 1px solid black;
}

.wd-module-title-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.wd-module-title-ellipsis {
  position: relative;
  top: 4px;
}

.wd-module-title-buttons {
  display: flex;
  align-items: center;
  width: 190px;
  flex-shrink: 0;
}

.wd-module-title-button-offset {
  position: relative;
  bottom: 5px;
}
