.wd-kanbas-course {
  width: 270px;
  min-width: 270px;
}

.wd-kanbas-course .card {
  height: 270px;
}

.wd-kanbas-course .card-body {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
}

.wd-kanbas-course a {
  text-decoration: none;
}

.wd-kanbas-course i {
  color: rgb(187, 187, 187);
  font-size: x-large;
}

.wd-kanbas-course-icons {
  color: rgb(187, 187, 187);
  font-size: x-large;
  position: relative;
  bottom: 8px;
}
