.wd-course-title {
  display: flex;
  align-items: center;
  position: relative;
  top: 8px;
}

.breadcrumb {
  position: relative;
  top: 8px;
}

.breadcrumb-item:last-child::after {
  content: "";
  margin-left: 0;
}

.breadcrumb-item+.breadcrumb-item::before {
  content: "\203A";
  color: gray; 
}

.wd-breadcrumb-item {
  color: black;
  text-decoration: none;
}

.wd-breadcrumb-item.first {
  color: red;
}

.wd-course-slide-nav {
  position: fixed;
  top: 70px;
  z-index: -1;
  height:500px;
  width: 100vw;
  background-color: white;
  transition: transform 0.3s ease-in-out;
  transform: translateY(0);
}

.wd-course-slide-closed {
  transform: translateY(-200%);
}