body {
  margin: 0;
  padding: 0;
}

body * {
  font-family: Arial, Helvetica, sans-serif;
}

.wd-kanbas-nav-offset {
  position: relative;
  width: 80px;
}

.wd-kanbas-content {
  width: 100%;
}

.wd-fg-navy {
  color: navy;
}

.wd-fg-palevioletred {
  color: palevioletred;
}

.wd-fg-green {
  color: green;
}

.wd-fg-brown {
  color: brown;
}

.wd-fg-red {
  color: red;
}

.wd-fg-darkgoldenrod {
  color: darkgoldenrod;
}

.wd-fg-coral {
  color: coral;
}

.wd-bold {
  font-weight: bold;
}

.wd-collapsed-navbar {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: black;
  height: 70px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 24px;
  margin-bottom: 16px;
}

.wd-nav-title {
  position: relative;
  bottom: 12px;
}

.wd-collapsed-navbar>button {
  color: white;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.wd-kanbas-slide-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
  z-index: 1;
}

.wd-kanbas-slide-closed {
  transform: translateX(-100%);
}

.wd-icon-button {
  background: none;
  border: none;
  padding: 0;
}